body {
    padding: 20px 20px 20px 20px;
    background-color: #822582;;
}
#intro {
    background-color: #822582;
    padding-left: 30px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 10px;
}
#bios {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
#bios h1{
    color: #C4F4FF;
    font-size: 60px;
    text-align: star;
}
#bios img{
    width: 357px;
    height: 500px;
    border-radius: 15px;
    margin-right: 50px;
    flex-grow: 1;
}
#aleia_bio {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#carlos_bio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}
#bios #info{
    background-color: #012960;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
}
#carlos_bio {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#heading img{
    flex-grow: 1;
    width: 33%;
}
h1 {
    font-size: 82pt;
    font-family: 'Josefin Sans', sans-serif;
    color: #FEC465;
    flex-grow: 2;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #FEC465;
    font-size: 32pt;
}
#subheading {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 54pt;
    text-transform: uppercase;
}
nav {
    margin: 0px 0px 16px 0px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
}
nav a {
    width: 100%;
    padding: 30px 50px 30px 50px;
    background-color: #04BF68;
    color: #000000;
    border-radius: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    flex-grow: 1;
 }
 nav a:hover {
    background-color: #FEC465;
}
 p {
     font-family: 'Roboto', sans-serif;
     font-size: 16pt;
     color: #ffffff;
 }
 button {
    font-size: large;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FEC465;
    border-radius: 15px;
    border-color: #FEC465;
    padding: 15px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 10px;
}
button:hover {
    background-color: #04BF68;
}